/webroot/.vagrant
/webroot/.vagrant/machines/rmsdev/virtualbox/action_set_name
/webroot/.vagrant/machines/rmsdev/virtualbox/creator_uid
/webroot/.vagrant/machines/rmsdev/virtualbox/id
/webroot/.vagrant/machines/rmsdev/virtualbox/index_uuid
/webroot/.vagrant/machines/rmsdev/virtualbox/private_key
/webroot/.vagrant/machines/rmsdev/virtualbox/synced_folders
/webroot/.vagrant/machines/rmsdev/virtualbox/action_provision
/webroot/www/vendor
/webroot/www/app/cache
